.sidebar {
    position: fixed;
    top: 70px;
    left: -250px;
    width: 185px;
    height: calc(100% - 70px); 
    background-color: #ffffff;
    color: black;
    transition: left 0.3s ease; 
    z-index: 1000; 
    overflow-x: hidden;
}

.sidebar.open {
    left: 0; 
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 10px;
}

.menu-item {
    padding: 10px 0; 
    cursor: pointer;
}

.menu-item:hover {
    background-color: #60b0ff; 
}
